<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | James Stannah</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
</head>
<body>
  <header>
   <h1 class="site-name">James Stannah</h1>
   <nav>
     <a href="{{ site.baseurl }}/">Home</a>
     <a href="{{ site.baseurl }}/publications/">Publications</a>
     <a href="{{ site.baseurl }}/contact/">Contact</a>
   </nav>
</header>

  <main>
    {% if page.title and page.title != "Home" %}
      <h1 class="page-title">{{ page.title }}</h1>
    {% endif %}

    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 James Stannah</p>
  </footer>
</body>
</html>
